apiVersion: apps/v1
kind: Deployment
metadata:
  name: vtbbackend
  labels:
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vtbbackend
      tier: backend
  template:
    metadata:
      labels:
        app: vtbbackend
        tier: backend
    spec:
      containers:
        - name: vtbbackend
          image: vtbhackathon.azurecr.io/cyberbruhvtbbackend
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: host
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: password
          volumeMounts:
            - mountPath: /code
              name: code
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          lifecycle:
            postStart:
              exec:
                command: [ "/bin/sh", "-c", "cp -r /var/www/html/. /code && chown -R www-data:www-data /code" ]
      volumes:
        - name: code
          persistentVolumeClaim:
            claimName: code
